@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Mukta:wght@500&family=Rowdies:wght@300&family=Varela+Round&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 20px;
}

.container {
  min-width: 100vw;
  width: 100%;
  padding: 15px 0px 0px 0px;
}

.navbar {
  display: flex;
  margin: 0px 30px;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.menu {
    display: none;
}

.nav-image-container {
  display: flex;
  margin: 0px 5px 10px 5px;
  justify-content: space-between;
}

.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links ul li a:hover {
  color: #ff5ea2;
}

.main-container {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 100px 0px 0px 130px;
}

.main-content-container::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#ff469f, #ff6062);
}

.main-image {
  width: 70%;
  height: 100%;
  z-index: 2;
}

.main-content {
  display: flex;
  align-items: center;
}

h2 {
  color: grey;
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 5.5rem;
  height: 90px;
}

h3 {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: rgb(168, 167, 167);
  margin: 15px 0px 10px 0px;
  font-size: 25px;
}

h5 {
  color: rgb(168, 167, 167);
  font-family: "Baloo Bhaijaan 2", cursive;
  margin: 20px 0px;
}

h6 {
  color: rgb(168, 167, 167);
  font-family: "Baloo Bhaijaan 2", cursive;
}

.image-box {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  right: 350px;
  position: relative;
  min-width: 70%;
  height: 55vh;
  background: linear-gradient(#ff54a2, #ff575a);
}

.main-image-container {
  display: flex;
  flex-direction: row;
}

.button {
  background: linear-gradient(#ff54a2, #ff575a);
  height: 40px;
  width: 90px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button:hover {
  background: linear-gradient(#ec4e95, #c04244);
}

@media only screen and (max-width: 600px) {

  .nav-link-container {
    display: none;
    transition: 0.5s;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
  }
  .nav-links > ul > li {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(#ff54a2, #ff575a);
  }

  .nav-links > ul > li > a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container {
      flex-direction: column-reverse;
    display: flex;
    margin: 0px;
  }

  h2 {
    font-size: 2.5em;
  }

  .main-content {
    justify-content: center;
    margin: 20px 0px 0px 0px;
  }

  .main-image-container {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    background: linear-gradient(#ff54a2, #ff575a);
  }

  .image-box {
    display: none;
  }

  .menu {
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: block;
  }
  
}
